.panel-drop {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.panel-drop.is-visible {
    max-height: 999px;
    visibility: visible;
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.panel-drop-btn {
    position: absolute;
    z-index: 1011;
    right: 0;
    width: 40px;
    height: 40px;
    margin: .5rem;
    border-radius: 50%;
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding:0;
        outline: 0;
}
.panel-drop-btn.is-active {
    top: 0;
    color: #0074d9;
}

.logged-in .panel-drop-btn.is-active {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-drop #loginform {
    max-width: 800px;
    margin: 0 auto;
        position: static;
}

.btn.small {
    padding: 2px 5px;
    color: #444;
    background: #eee!important;
}

.login-username {
    display: inline-block;
    width: 100%;
}
@media screen and (min-width: 52em) {
    .login-username {
        width: 40%;
        margin-right: 10px;
    }
}
.login-username label {
    display: none;
}

.login-password {
    display: inline-block;
    width: 100%;
}
@media screen and (min-width: 52em) {
    .login-password {
        width: 40%;
    }
}
.login-password label {
    display: none;
}

.login-remember {
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.07143;
}
@media screen and (min-width: 52em) {
    .login-remember {
        position: absolute;
        bottom: 0;
        //left: 0;
    }
}

.login-submit {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
@media screen and (min-width: 52em) {
    .login-submit {
        width: 14%;
    }
}

.favorites-list > li {
    display: block;
}

.simplefavorite-button {
    color: #0059a6;
}

.simplefavorite-button.active {
    color: white;
    background-color: #0d8eff;
}

.user-account {
    top: 5px;
}

.panel-drop .avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 3px auto;
}

.menu-logged-in {
    margin-right: 60px;
    margin-left: 60px;
}





.menu-loggedin-container {
    padding: 0 30px;
}



.is-visible .menu-item {
    border: 0;
}



/* #GRID
\*------------------------------------*/
.container {
    max-width: 64em;
    margin-right: auto; 
    margin-left: auto;
}

.container--wide {
    max-width: 84em;
    margin-right: auto; 
    margin-left: auto;
}

.container--full {
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}

.grid {
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid__item {
    display: inline-block;
    width: 100%; 
    vertical-align: top;
}

.grid--rev {
    direction: rtl;
}
.grid--rev > .grid__item {
    direction: ltr;
}

/* #WIDTHS
\*------------------------------------*/
.u-1\/1 {
    width: 100%;
}

.u-1\/2 {
    width: calc(1/2 * 100% - 0.75rem);
}

.u-1\/3 {
    width: calc(1/3 * 100% - 0.75rem);
}

.u-2\/3 {
    width: calc(2/3 * 100% - 0.75rem);
}

.u-1\/4 {
    width: calc(1/4 * 100% - 0.75rem);
}

.u-3\/4 {
    width: calc(3/4 * 100% - 0.75rem);
}

.u-1\/5 {
    width: calc(1/5 * 100% - 0.75rem);
}

.u-2\/5 {
    width: calc(2/5 * 100% - 0.75rem);
}

.u-3\/5 {
    width: calc(3/5 * 100% - 0.75rem);
}

.u-4\/5 {
    width: calc(4/5 * 100% - 0.75rem);
}

@media screen and (min-width: 52em) {
    .u-1\/1\@md {
        width: 100%;
    }
    .u-1\/2\@md {
        width: calc(50% - 0.24em);
    }
    .u-1\/3\@md {
        width: calc(1/3 * 100% - 0.75rem);
    }
    .u-2\/3\@md {
        width: calc(2/3 * 100% - 0.75rem);
    }
    .u-1\/4\@md {
        width: calc(1/4 * 100% - 0.75rem);
    }
    .u-3\/4\@md {
        width: calc(3/4 * 100% - 0.75rem);
    }
    .u-1\/5\@md {
        width: calc(1/5 * 100% - 0.75rem);
    }
    .u-2\/5\@md {
        width: calc(2/5 * 100% - 0.75rem);
    }
    .u-3\/5\@md {
        width: calc(3/5 * 100% - 0.75rem);
    }
    .u-4\/5\@md {
        width: calc(4/5 * 100% - 0.75rem);
    }
    .u-width-auto\@md {
        width: auto;
    }
}

@media screen and (min-width: 64em) {
    .u-1\/1\@lg {
        width: 100%;
    }
    .u-1\/2\@lg {
        width: calc(50% - 0.24em);
    }
    .u-1\/3\@lg {
        width: calc(1/3 * 100% - 0.75rem);
    }
    .u-2\/3\@lg {
        width: calc(2/3 * 100% - 0.75rem);
    }
    .u-1\/4\@lg {
        width: calc(1/4 * 100% - 0.75rem);
    }
    .u-3\/4\@lg {
        width: calc(3/4 * 100% - 0.75rem);
    }
    .u-1\/5\@lg {
        width: calc(1/5 * 100% - 0.75rem);
    }
    .u-2\/5\@lg {
        width: calc(2/5 * 100% - 0.75rem);
    }
    .u-3\/5\@lg {
        width: calc(3/5 * 100% - 0.75rem);
    }
    .u-4\/5\@lg {
        width: calc(4/5 * 100% - 0.75rem);
    }
}

/* #BUTTONS
\*------------------------------------*/
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn--default {
    background: rgba(158,158,158, 0.20);
}
input[type="button"]:active,
input[type="button"]:hover,
input[type="reset"]:active,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="submit"]:hover,
.btn--default:active,
.btn--default:hover {
    background-color: rgba(158,158,158, 0.40);
}
input[type="button"]:focus:not(:active),
input[type="reset"]:focus:not(:active),
input[type="submit"]:focus:not(:active),
.btn--default:focus:not(:active) {
    background-color: rgba(158,158,158, 0.40);
}
input[type="button"].button--colored,
input[type="reset"].button--colored,
input[type="submit"].button--colored,
.btn--default.button--colored {
    color: rgb(255,255,255); 
    background: rgb(63,81,181);
}
input[type="button"].button--colored:hover,
input[type="reset"].button--colored:hover,
input[type="submit"].button--colored:hover,
.btn--default.button--colored:hover {
    background-color: rgb(48,63,159);
}
input[type="button"].button--colored:active,
input[type="button"].button--colored.active,
input[type="reset"].button--colored:active,
input[type="reset"].button--colored.active,
input[type="submit"].button--colored:active,
input[type="submit"].button--colored.active,
.btn--default.button--colored:active,
.btn--default.button--colored.active {
    background-color: rgb(63,81,181);
}
input[type="button"].button--colored:focus:not(:active),
input[type="reset"].button--colored:focus:not(:active),
input[type="submit"].button--colored:focus:not(:active),
.btn--default.button--colored:focus:not(:active) {
    background-color: rgb(63,81,181);
}
input[type="button"].button--colored .ripple,
input[type="reset"].button--colored .ripple,
input[type="submit"].button--colored .ripple,
.btn--default.button--colored .ripple {
    background: rgb(255,255,255);
}
input[type="button"][disabled][disabled],
input[type="reset"][disabled][disabled],
input[type="submit"][disabled][disabled],
.btn--default[disabled][disabled] {
    color: rgba(0,0,0, 0.26);
    background-color: rgba(0,0,0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    width: auto;
    margin-bottom: 0.5em;
}

/* #BREADCRUMBS
\*------------------------------------*/
.breadcrumbs li + li:before {
    padding: 0.5rem;
    opacity: 0.8;
    font-family: "Material Icons";
    font-size: 24px;
    font-size: 1.5rem; 
    content: "\E5CC";
}

.breadcrumbs a {
    color: inherit;
}

.trail-end span {
    display: none;
}

/* #TYPOGRAPHY UTILITY
\*------------------------------------*/
.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 1.5rem;
}

.h3 {
    font-size: 1.25rem;
}

.h4 {
    font-size: 1rem;
}

.h5 {
    font-size: 0.875rem;
}

.h6 {
    font-size: 0.75rem;
}

.small {
    font-size: 75%;
}

.lh-1 {
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.caps {
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 1px 1px 5px rgba(17, 17, 17, 0.6);
}

.left-align {
    text-align: left;
}

.center {
    text-align: center;
}

.right-align {
    text-align: right;
}

.justify {
    text-align: justify;
}

.nowrap {
    white-space: nowrap;
}

.break-word {
    word-wrap: break-word;
}

.truncate {
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.list-reset {
    padding-left: 0; 
    list-style: none;
}
.list-reset ul,
.list-reset li {
    padding-left: 0; 
    list-style: none;
}

/* #WHITE SPACE
\*------------------------------------*/
.m0 {
    margin: 0;
}

.mt0 {
    margin-top: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.m1 {
    margin: 0.5rem;
}

.mt1 {
    margin-top: 0.5rem;
}

.mr1 {
    margin-right: 0.5rem;
}

.mb1 {
    margin-bottom: 0.5rem;
}

.ml1 {
    margin-left: 0.5rem;
}

.m2 {
    margin: 1rem;
}

.mt2 {
    margin-top: 1rem;
}

.mr2 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: 1rem;
}

.ml2 {
    margin-left: 1rem;
}

.m3 {
    margin: 2rem;
}

.mt3 {
    margin-top: 2rem;
}

.mr3 {
    margin-right: 2rem;
}

.mb3 {
    margin-bottom: 2rem;
}

.ml3 {
    margin-left: 2rem;
}

.m4 {
    margin: 4rem;
}

.mt4 {
    margin-top: 4rem;
}

.mr4 {
    margin-right: 4rem;
}

.mb4 {
    margin-bottom: 4rem;
}

.ml4 {
    margin-left: 4rem;
}

.mxn1 {
    margin-right: -0.5rem; 
    margin-left: -0.5rem;
}

.mxn2 {
    margin-right: -1rem; 
    margin-left: -1rem;
}

.mxn3 {
    margin-right: -2rem; 
    margin-left: -2rem;
}

.mxn4 {
    margin-right: -4rem; 
    margin-left: -4rem;
}

.mx-auto {
    margin-right: auto; 
    margin-left: auto;
}

.p0 {
    padding: 0 !important;
}

.p1 {
    padding: 0.5rem;
}

.py1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px1 {
    padding-right: 0.5rem; 
    padding-left: 0.5rem;
}

.pt1 {
    padding-top: 0.5rem;
}

.pb1 {
    padding-bottom: 0.5rem;
}

.p2 {
    padding: 1rem;
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px2 {
    padding-right: 1rem; 
    padding-left: 1rem;
}

.pt2 {
    padding-top: 1rem;
}

.pb2 {
    padding-bottom: 1rem;
}

.p3 {
    padding: 2rem;
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px3 {
    padding-right: 2rem; 
    padding-left: 2rem;
}

.pt3 {
    padding-top: 2rem;
}

.pb3 {
    padding-bottom: 2rem;
}

.p4 {
    padding: 4rem;
}

.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px4 {
    padding-right: 4rem; 
    padding-left: 4rem;
}

.pt4 {
    padding-top: 4rem;
}

.pb4 {
    padding-bottom: 4rem;
}

@media screen and (min-width: 52em) {
    .m2\@md {
        margin: 1rem;
    }
    .mt2\@md {
        margin-top: 1rem;
    }
    .mr2\@md {
        margin-right: 1rem;
    }
    .mb2\@md {
        margin-bottom: 1rem;
    }
    .ml2\@md {
        margin-left: 1rem;
    }
    .m3\@md {
        margin: 2rem;
    }
    .mt3\@md {
        margin-top: 2rem;
    }
    .mr3\@md {
        margin-right: 2rem;
    }
    .mb3\@md {
        margin-bottom: 2rem;
    }
    .ml3\@md {
        margin-left: 2rem;
    }
    .m4\@md {
        margin: 4rem;
    }
    .mt4\@md {
        margin-top: 4rem;
    }
    .mr4\@md {
        margin-right: 4rem;
    }
    .mb4\@md {
        margin-bottom: 4rem;
    }
    .ml4\@md {
        margin-left: 4rem;
    }
    .mxn2\@md {
        margin-right: -1rem; 
        margin-left: -1rem;
    }
    .mxn3\@md {
        margin-right: -2rem; 
        margin-left: -2rem;
    }
    .mxn4\@md {
        margin-right: -4rem; 
        margin-left: -4rem;
    }
    .mx-auto\@md {
        margin-right: auto; 
        margin-left: auto;
    }
    .p2\@md {
        padding: 1rem;
    }
    .py2\@md {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .px2\@md {
        padding-right: 1rem; 
        padding-left: 1rem;
    }
    .p3\@md {
        padding: 2rem;
    }
    .py3\@md {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .px3\@md {
        padding-right: 2rem; 
        padding-left: 2rem;
    }
    .pt3\@md {
        padding-top: 2rem;
    }
    .pb3\@md {
        padding-bottom: 2rem;
    }
    .p4\@md {
        padding: 4rem;
    }
    .py4\@md {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .px4\@md {
        padding-right: 4rem; 
        padding-left: 4rem;
    }
    .pt4\@md {
        padding-top: 4rem;
    }
    .pb4\@md {
        padding-bottom: 4rem;
    }
}

/* #COLORS
\*------------------------------------*/
.color-1 {
    color: #0074d9;
}

.color-2 {
    color: #3d9970;
}

.color-3 {
    color: #ffdc00;
}

.bg-1 {
    background-color: #0074d9;
}

.bg-2 {
    background-color: #3d9970;
}

.bg-3 {
    background-color: #ffdc00;
}

.bg-1--light {
    background-color: #0d8eff;
}

.bg-2--light {
    background-color: #50b98a;
}

.bg-3--light {
    background-color: #ffe333;
}

.bg-1--dark {
    background-color: #0059a6;
}

.bg-2--dark {
    background-color: #2e7555;
}

.bg-3--dark {
    background-color: #ccb000;
}

.fill-1 {
    fill: #0074d9;
}

.fill-2 {
    fill: #3d9970;
}

.fill-3 {
    fill: #ffdc00;
}

.black {
    color: #111;
}

.gray {
    color: #808080;
}

.silver {
    color: #ddd;
}

.white {
    color: #fff;
}

.muted {
    opacity: 0.8;
}

.color-inherit * {
    color: inherit;
}

.currentcolor,
.currentcolor a {
    color: currentColor;
}

/* Basscss Background Colors */
.bg-black {
    background-color: #111;
}

.bg-gray {
    background-color: #808080;
}

.bg-silver {
    background-color: #ddd;
}

.bg-white {
    background-color: #fff;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-lighten-1 {
    background-color: rgba(255, 255, 255, 0.0625) !important;
}

.bg-lighten-2 {
    background-color: rgba(255, 255, 255, 0.125) !important;
}

.bg-lighten-3 {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.bg-lighten-4 {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-darken-1 {
    background-color: rgba(0, 0, 0, 0.0625) !important;
}

.bg-darken-2 {
    background-color: rgba(0, 0, 0, 0.125) !important;
}

.bg-darken-3 {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.bg-darken-4 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* #BORDERS
\*------------------------------------*/
.border {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
}

.border-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.125);
}

.border-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.125);
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
}

.border-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.125);
}

.border-none {
    border: 0 !important;
}

.u-br,
.br {
    border-radius: 2px;
}

.u-round,
.round {
    border-radius: 50%;
}

.br-top {
    border-radius: 2px 2px 0 0;
}

.br-right {
    border-radius: 0 2px 2px 0;
}

.br-bottom {
    border-radius: 0 0 2px 2px;
}

.br-left {
    border-radius: 2px 0 0 2px;
}

.br0 {
    border-radius: 0;
}

.shadow0 {
    box-shadow: none !important;
}

.shadow1 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.shadow2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow3 {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.shadow4 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow6 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.shadow8 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-center {
    background-position: center;
}

.bg-top {
    background-position: top;
}

.bg-right {
    background-position: right;
}

.bg-bottom {
    background-position: bottom;
}

.bg-left {
    background-position: left;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

/* #COLOR TABLES
\*------------------------------------*/
.table-light th,
.table-light td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
}

.table-light tr:last-child td {
    border-bottom: 0;
}

/* #UTILITY LAYOUT
\*------------------------------------*/
.inline {
    display: inline;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.align-baseline {
    vertical-align: baseline;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fit {
    max-width: 100%;
}

/* #FLEX OBJECT
\*------------------------------------*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-rev {
    flex-direction: row-reverse; 

    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column; 

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-center {
    -webkit-align-items: center;
    align-items: center; 
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.flex-baseline {
    -webkit-align-items: baseline;
    align-items: baseline; 
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
}

.flex-stretch {
    -webkit-align-items: stretch;
    align-items: stretch; 
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
}

.flex-start {
    -webkit-align-items: flex-start;
    align-items: flex-start; 
    -webkit-box-align: start;
    -ms-flex-align: start;
}

.flex-end {
    -webkit-align-items: flex-end;
    align-items: flex-end; 
    -webkit-box-align: end;
    -ms-flex-align: end;
}

.flex-justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.flex-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
}

.flex-last {
    -webkit-box-ordinal-group: 100000;
    -ms-flex-order: 99999;
    -webkit-order: 99999;
    order: 99999;
}

@media screen and (max-width: 51em) {
    .flex\@sm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .flex-column\@sm {
        flex-direction: column; 

        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
}

@media screen and (min-width: 52em) {
    .flex\@md {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .flex-row\@md {
        flex-direction: row; 

        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
}

@media screen and (min-width: 64em) {
    .flex\@lg {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .flex-row\@lg {
        flex-direction: row; 

        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
}